<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: headerFragment"></head>
<body>
<div class="col-md-12">
    <h1>스프링 부트로 시작하는 웹 서비스 CSH2</h1>
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            <div th:if="${userName != null}">
                Logged in as: <span id="user" th:text="${userName}"></span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            </div>
            <div th:if="${userName == null}">
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            </div>
        </div>
    </div>

</div>
<!-- 목록 출력 영역 -->
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>게시글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>최종수정일</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td><a th:href="@{/posts/update/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
        <td th:text="${post.author}"></td>
        <td th:text="${post.modifiedDate}"></td>
    </tr>
    </tbody>
</table>
<div class="pagination">
    <a th:if="${startPage > 0}" th:href="@{/(page=${startPage - 10})}">&laquo;&laquo;</a>
    <a th:if="${currentPage > 0}" th:href="@{/(page=${currentPage - 1})}">Previous</a>
    <span th:each="i : ${#numbers.sequence(startPage, endPage)}">
        <a th:if="${i != currentPage}" th:href="@{/(page=${i})}" th:text="${i + 1}">1</a>
        <span th:if="${i == currentPage}" th:text="${i + 1}">1</span>
    </span>
    <a th:if="${currentPage < totalPages - 1}" th:href="@{/(page=${currentPage + 1})}">Next</a>
    <a th:if="${endPage < totalPages - 1}" th:href="@{/(page=${startPage + 10})}">&raquo;&raquo;</a>
</div>
<div th:replace="layout/footer :: footerFragment"></div>
</body>
</html>
